/* ~~~COLORS~~~  */

/**** Main color (dark gray #37474f )
        lighter then #62727b
        darker then #102027
        font color for ^^^ #ffffff
        
        Secondary color (dark moss green #9e9d24 )
        lighter #d2ce56
        darker #6c6f00 <<<NOTE(used font #ffffff)
        font color for ^^^ #000000
         ***/

/**===================font family's ==============================**/
/** for normale text>    font-family: 'Baloo 2', cursive;  ====== **/
/**  header font>  font-family: 'Goudy Bookletter 1911', serif;===**/                                
/**===============================================================**/

body{
    background-image: url('img/library.jpeg');
    justify-content: center;
    background-position: center;
}

h1{
    background-color: #102027 ;
    font-family: 'Goudy Bookletter 1911', serif;
    color: #ffffff;
    border: black solid;
    border-radius: 8px;
    margin: 7px 50px 7px 50px;
    padding: 5px 4px 0 5px;
}

main{
    font-family: 'Baloo 2', cursive;
}

button{
    text-align: center;
    background-color: #62727b;
    color: #ffffff;
    border: black solid;
    border-radius: 8px;
}

select{
    text-align: center;
    background-color: #62727b;
    color: #ffffff;
    border: black solid;
    border-radius: 8px;
}



.top-bar{
    text-align: center;
    background-color: #102027;
    color: #ffffff;
    border: black solid;
    border-radius: 8px;
    margin: 7px 50px 7px 50px;    
    padding: 7px;
}

.submission-form{
    text-align: center;
    background-color: #102027;
    color: #ffffff;
    border: black solid;
    border-radius: 8px;
    margin: 7px 50px 7px 50px;
}

.small-bookmark{
    background-color: #102027;
    color: #ffffff;
    border: black solid;
    border-radius: 8px;
    margin: 7px 50px 7px 50px;
    padding: 8px 2px 4px 4px;
}

.big-bookmark{
    background-color: #102027;
    color: #ffffff;
    border: black solid;
    font-size: 18px;
    border-radius: 8px;
    margin: 7px 50px 7px 50px;
}

h2{
    font-size: 24px;
}

.big-b-button{
    align-self: flex-end;
    margin: 5px;
}

.big-bookmark a{
    text-decoration: none;
    text-align: center;
    background-color: #62727b;
    color: #ffffff;
    border: black solid;
    border-radius: 8px;
}